<!--comienzo seccion de habilidades-->
<section class="habilidades mt-5">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-3">
<!-- titulo de seccion de habilidades -->
                <h4 class="tituloSeccion">Hard & Soft Skill.</h4>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <app-habilidad></app-habilidad>
<!-- barra de progreso habilidad 1 (git/github) -->
                    <app-porcentaje></app-porcentaje>
                    <br>
<!-- barra de progreso habilidad 2 (html5) -->
                <p>HTML 5</p>    
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
                    <br>
<!-- barra de progreso habilidad 3 (css) -->
                <p>CSS 3</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">75%</div>
                </div>
                    <br>
<!-- barra de progreso habilidad 4 (javascript) -->
                <p>JavaScript</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                </div>
                    <br>
<!-- barra de progreso habilidad 5 (typescript) -->
                <p>TypeScript</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
                    <br>
<!-- barra de progreso habilidad 6 (angular) -->
                <p>Angular</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
                </div>
                    <br>
<!-- barra de progreso habilidad 7 (java) -->
                <p>Java</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
                    <br>
<!-- barra de progreso habilidad 8 (python) -->
                <p>Python</p>                            
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                </div>
                    <br>
<!-- barra de progreso habilidad 9 (trabajo en equipo) -->
                <p>Trabajo en Equipo</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 85%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div> 
                    <br>
<!-- barra de progreso habilidad 10 (responzabilidad) -->
                <p>Responzabilidad</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
                    <br>
<!-- barra de progreso habilidad 11 (organizacion) -->
                <p>Organización</p>
                <div class="progress mb-3">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                </div>          
            </div>

        </div>
    </div>
</section>
<!-- fin seccion de habilidades -->