<!--formulario para editar redes sociales-->
<h4>Editar Redes Sociales.</h4>
<!--Inicio formulario para editar redes sociales-->  
        <form>
            <div class="my-3">
                <label for="linkedin" class="form-label">LinkedIn</label>
                <input type="url" class="form-control" id="linkedin" placeholder="Ingresa url a LinkedIn..." name="linkedin">
            </div>
                <button type="button" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-info">Actualizar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>

            <div class="my-3">
                <label for="github" class="form-label">GitHub</label>
                <input type="url" class="form-control" id="github" placeholder="Ingresa url a GitHub..." name="github">
            </div>
                <button type="button" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-info">Actualizar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>

            <div class="my-3">
                <label for="codepen" class="form-label">CodePen</label>
                <input type="url" class="form-control" id="codepen" placeholder="Ingresa url a CodePen...">
            </div>
                <button type="button" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-info">Actualizar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
        </form>
<!--fin formulario para editar redes sociales-->

