<!--comienzo seccion datos peronales-->
<section id="perfil" class="perfil">  
    <div class="container-fluid text-center">
        <div class="row my-2">
            <div class="col-12 col-sm-5 col-md-2 ">
<!-- imagen de perfil-->
                <app-imgperfil></app-imgperfil>
            </div>
            <div class="col-12 col-sm-7 col-md-10">
<!-- nombre y apellido -->
                <app-nombreperfil></app-nombreperfil>
            </div>
        </div>
    </div>
</section>
<!-- fin de seccion datos personales -->