/*============= seccion perfil ==============*/
/* imagen de perfil */
section.perfil {
    position: relative;
    z-index: 10 ;
    margin-top: -8%;
    margin-left: 6rem;
}

@media (max-width: 768px) {
    /* imagen de perfil */
        section.perfil {
            width: 85%;
        }
    }

@media (max-width: 560px) {
    /* imagen de perfil */
        section.perfil {
            width: 25%;
            margin-left: -0.3rem;
        }
}