<!--formulario para editar proyectos-->
<h4>Editar Proyectos.</h4>
<!--Inicio formulario proyectos-->  
                        <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
<!-- proyecto -->
                            <div class="my-3">
                                <label for="tituloProyecto" class="form-label">Titulo de Proyecto:</label>
                                <input type="text" class="form-control" id="tituloProyecto" aria-describedby="emailHelp" placeholder="Ingrese titulo del Proyecto..." formControlName="tituloProyecto">
                            </div>

                            <div *ngIf="TituloProyecto?.errors && TituloProyecto?.touched">
                                <p *ngIf="TituloProyecto?.hasError('required')" class="error">
                                    <strong> --Este campo es requerido.-- </strong>
                                </p>
                            </div>
                
                            <div class="my-3">
                                <label for="fotoProyecto" class="form-label">Foto de Proyecto:</label>
                                <input type="url" class="form-control" id="fotoProyecto" placeholder="Ingresar url de la imagen del proyecto..." formControlName="fotoProyecto">
                            </div>

                            <div *ngIf="FotoProyecto?.errors && FotoProyecto?.touched">
                                <p *ngIf="FotoProyecto?.hasError('required')" class="error">
                                    <strong> --Este campo es requerido.-- </strong>
                                </p>
                            </div>
                
                            <div class="my-3">
                                <label for="urlProyecto" class="form-label">URL Proyecto:</label>
                                <input type="url" class="form-control" id="urlProyecto" aria-describedby="emailHelp" placeholder="Ingrese la url al sitio web del proyecto..." formControlName="urlProyecto">
                            </div>

                            <div *ngIf="UrlProyecto?.errors && UrlProyecto?.touched">
                                <p *ngIf="UrlProyecto?.hasError('required')" class="error">
                                    <strong> --Este campo es requerido.-- </strong>
                                </p>
                            </div>
                
                            <div class="my-3">
                                <label for="descripcionProyecto" class="form-label">Descripción Proyecto:</label>
                                <textarea class="form-control" id="descripcionProyecto" placeholder="Ingrese una descripción del proyecto..." formControlName="descripcionProyecto"></textarea>
                            </div>

                            <div *ngIf="DescripcionProyecto?.errors && DescripcionProyecto?.touched">
                                <p *ngIf="DescripcionProyecto?.hasError('required')" class="error">
                                    <strong> --Este campo es requerido.-- </strong>
                                </p>
                            </div>
                

                                <button type="button" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-info">Actualizar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>
                        </form>
<!-- fin formulario para editar proyectos -->
