<!--comienzo seccion banner-->
<section class="banner mt-5" >
    <div class="container text-center container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
<!--imagen del banner-->
                <app-imgbanner></app-imgbanner>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
<!--titlo del banner-->
                <app-titulobanner></app-titulobanner>
            </div>
        </div>
    </div>
</section>
<!-- fin de la seccion banner -->

