<!-- barra de navegacion vertical -->
<nav class="vertical main-nav" id="list-tab" role="tablist">
    <ul class="unstyled list-hover-slide">
        <li class="vertical" >
<!--icono para editar redes sociales-->
            <a class="list-group-item list-group-item-action active" id="list-redes-list" data-bs-toggle="list" href="#list-redes" role="tab" aria-controls="list-redes"><i class="fas fa-share-alt"></i></a>
        </li>

        <li class="vertical">
<!--icono para editar la imagen del banner-->
            <a class="list-group-item list-group-item-action" id="list-banner-list" data-bs-toggle="list" href="#list-banner" role="tab" aria-controls="list-banner"><i class="fas fa-images"></i></a>
        </li>

        <li class="vertical">
<!--icono para editar el perfil-->
            <a class="list-group-item list-group-item-action" id="list-perfil-list" data-bs-toggle="list" href="#list-perfil" role="tab" aria-controls="list-perfil"><i class="fas fa-user-edit"></i></a>
        </li>

        <li class="vertical">
<!--icono para editar la informacion-->
            <a class="list-group-item list-group-item-action" id="list-info-list" data-bs-toggle="list" href="#list-info" role="tab" aria-controls="list-info"><i class="fas fa-info"></i></a>
        </li>

        <li class="vertical">
<!--icono para editar la experiencia-->
            <a class="list-group-item list-group-item-action" id="list-experiencia-list" data-bs-toggle="list" href="#list-experiencia" role="tab" aria-controls="list-experiencia"><i class="fas fa-briefcase"></i></a>
        </li>

        <li class="vertical">
<!--icono para editar educacion-->
            <a class="list-group-item list-group-item-action" id="list-educacion-list" data-bs-toggle="list" href="#list-educacion" role="tab" aria-controls="list-educacion"><i class="fas fa-graduation-cap"></i></a>
        </li>

        <li class="vertical">
<!--icono para editar las habilidades-->
            <a class="list-group-item list-group-item-action" id="list-habilidades-list" data-bs-toggle="list" href="#list-habilidades" role="tab" aria-controls="list-habilidades"><i class="fas fa-trophy"></i></a>
        </li>

        <li class="vertical">
<!--icono para editar las proyectos-->
            <a class="list-group-item list-group-item-action" id="list-proyectos-list" data-bs-toggle="list" href="#list-proyectos" role="tab" aria-controls="list-proyectos"><i class="fas fa-network-wired"></i></a>
        </li>

    </ul>
</nav>
