<!--formulario para editar experiencia-->
<h4>Editar Experiencia Laboral.</h4>
<!--Inicio formulario para editar experiencia-->  
                        <form>
<!--trabajo 1-->
                            <div class="my-3">
                                <label for="trabajoUno" class="form-label">Descripción del Puesto n˚1:</label>
                                <input type="text" class="form-control" id="trabajoUno" aria-describedby="emailHelp" placeholder="Puesto de trabajo" name="trabajoUno">
                            </div>
                                <button type="button" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-info">Actualizar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>

                            <div class="my-3">
                                <label for="logoTrabajoUno" class="form-label">Logo de Empresa:</label>
                                <input type="url" class="form-control" id="logoTrabajoUno" placeholder="Ingrese la url del logo de la empresa" name="logoTrabajoUno">
                            </div>
                                <button type="button" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-info">Actualizar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>

<!--trabajo 2-->   
                            <div class="my-3">
                                <label for="trabajoDos" class="form-label">Descripción del Puesto n˚2:</label>
                                <input type="text" class="form-control" id="trabajoDos" aria-describedby="emailHelp" placeholder="Puesto de trabajo" name="trabajoDos">
                            </div>
                                <button type="button" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-info">Actualizar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>

                            <div class="my-3">
                                <label for="logoTrabajoDos" class="form-label">Logo de Empresa:</label>
                                <input type="url" class="form-control" id="logoTrabajoDos" placeholder="Ingrese la url del logo de la empresa" name="logoTrabajoDos">
                            </div>
                                <button type="button" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-info">Actualizar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>
                        </form>
<!--fin formulario experiencia-->
