<h4>Editar Presentación.</h4>
<!--Inicio formulario para editar presentacion/sobre mi-->  
                        <form>
                            <div class="my-3">
                                <label for="infoPresentacion" class="form-label">Descripción sobre mí:</label>
                                <textarea class="form-control" id="infoPresentacion" placeholder="Ingresa tu presentación..." name="infoPresentacion"></textarea>
                            </div>
                                <button type="button" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-info">Actualizar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>

                        </form>
<!--fin formulario para editar presentacion/sobre mi-->