@media (max-width: 768px) {
    /*certificados de estudios*/
    .card {
        width: 10rem;
    }        
}


@media (max-width: 560px) {
    /*certificados de estudios*/
    .card {
        position: relative;
        left: 20%;   
    }    
    }
    