<!--comienzo de barra de navegacion principal -->
<nav class="navbar navbar-expand-lg bg-pink">
    <div class="container-fluid">
<!--logo agertina programa-->
        <app-logonavbar></app-logonavbar>
<!--iconos de redes sociales-->
        <ul class="list-group list-group-horizontal">
<!-- icono de linkedin -->
            <app-linkedin></app-linkedin>
<!-- icono de github -->
            <app-github></app-github>
<!-- icono de codepen -->
            <app-codepen></app-codepen>
<!-- icono de login con candado = usuario bloqueado-->
            <app-usuariocandado></app-usuariocandado>
<!-- icono de login sin candado = registrado con usuario-->
            <app-usuarioabierto></app-usuarioabierto>            
        </ul>
    </div>
</nav>
<!-- fin de la barra de navegacion = navbar-->