<!--comienzo de seccion de experiencia laboral-->
<section class="experiencia my-5">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-3">
<!-- titulo de seccion experiencia laboral -->
                <h4 class="tituloSeccion">Experiencia.</h4>
            </div>
            <div class="col-8 col-sm-8 col-md-6 mt-3">
<!-- descripcion de trabajo #1 -->
                <p class="texto">Actualmente trabajo para la compañia Cencosud S.A. Me desempeño como administrativa y supervisora de sector.</p>
            </div>
            <div class="col-4 col-sm-4 col-md-3 mt-3">
<!-- logo de la empresa de trabajo #1 -->
                <img  class="img-fluid logo-exp" src="./assets/img/cencosud.png" alt="Cencosud S.A.">
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-3">
<!--columna vacia -->
            </div>
            <div class="col-8 col-sm-8 col-md-6 mt-3">
<!-- descripcion de trabajo #2 -->
                <p class="texto">En mi tiempo libre colaboro en una organización llamada GoCode, donde ayudamos con el desarrollo de página web a organizaciones sin fines de lucro.</p>
            </div>
            <div class="col-4 col-sm-4 col-md-3 mt-3">
<!-- logo de la empresa de trabajo #2 -->
                <img class="img-fluid logo-exp"  src="./assets/img/GoCode (white).png" alt="Cencosud S.A.">
            </div>
        </div>
    </div>
</section>
<!-- fin de seccion experiencia laboral -->
