<!--formulario para editar habilidades-->
<h4>Editar Habilidades.</h4>
<!--Inicio formulario de habilidades-->  
                        <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
<!--habilidad 1-->
                            <div class="row">
                                <div class="col-6 my-3">
                                    <label for="habilidad" class="form-label">Habilidad:</label>
                                    <input type="text" class="form-control" id="habilidad" placeholder="Ingrese la habilidad..." formControlName="habilidad">
                                </div>

                                <div *ngIf="Habilidad?.errors && Habilidad?.touched">
                                    <p *ngIf="Habilidad?.hasError('required')" class="error">
                                        <strong> --Este campo es requerido.-- </strong>
                                    </p>
                                </div>
    
                                <div class="col-6 my-3">
                                    <label for="porcentaje" class="form-label">Porcentaje:</label>
                                    <input type="number" class="form-control" id="porcentaje" placeholder="Ingresar el porcentaje de la habilidad" formControlName="porcentaje">
                                </div>

                                <div *ngIf="Porcentaje?.errors && Porcentaje?.touched">
                                    <p *ngIf="Porcentaje?.hasError('required')" class="error">
                                        <strong> --Este campo es requerido.-- </strong>
                                    </p>
                                </div>
    
                            </div>
                                <button type="button" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-info">Actualizar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>
                        </form>
<!-- fin formulario para editar habilidades -->