<!--formulario para editar habilidades-->
<h4>Editar Habilidades.</h4>
<!--Inicio formulario de habilidades-->  
                        <form>
<!--habilidad 1-->
                            <div class="row">
                                <div class="col-6 my-3">
                                    <label for="habilidadUno" class="form-label">Habilidad n˚1</label>
                                    <input type="text" class="form-control" id="habilidadUno" placeholder="Ingrese la habilidad..." name="habilidadUno">
                                </div>
                                <div class="col-6 my-3">
                                    <label for="porcentajeUno" class="form-label">Porcentaje n˚1</label>
                                    <input type="number" class="form-control" id="porcentajeUno" placeholder="Ingresar el porcentaje" name="porcentajeUno">
                                </div>
                            </div>
                                <button type="button" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-info">Actualizar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>

<!--habilidad 2-->
                            <div class="row">
                                <div class="col-6 my-3">
                                    <label for="habilidadDos" class="form-label">Habilidad n˚2</label>
                                    <input type="text" class="form-control" id="habilidadDos" placeholder="Ingrese la habilidad..." name="habilidadDos">
                                </div>
                                <div class="col-6 my-3">
                                    <label for="porcentajeDos" class="form-label">Porcentaje n˚2</label>
                                    <input type="number" class="form-control" id="porcentajeDos" placeholder="Ingresar el porcentaje" name="porcentajeDos">
                                </div>
                            </div>
                                <button type="button" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-info">Actualizar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>    

<!--habilidad 3-->
                            <div class="row">
                                <div class="col-6 my-3">
                                    <label for="habilidadTres" class="form-label">Habilidad n˚3</label>
                                    <input type="text" class="form-control" id="habilidadTres" placeholder="Ingrese la habilidad..." name="habilidadTres">
                                </div>
                                <div class="col-6 my-3">
                                    <label for="porcentajeTres" class="form-label">Porcentaje n˚3</label>
                                    <input type="number" class="form-control" id="porcentajeTres" placeholder="Ingresar el porcentaje" name="porcentajeTres">
                                </div>
                            </div>
                                <button type="button" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-info">Actualizar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>

<!--habilidad 4-->
                            <div class="row">
                                <div class="col-6 my-3">
                                    <label for="habilidadCuatro" class="form-label">Habilidad n˚4</label>
                                    <input type="text" class="form-control" id="habilidadCuatro" placeholder="Ingrese la habilidad..." name="habilidadCuatro">
                                </div>
                                <div class="col-6 my-3">
                                    <label for="porcentajeCuatro" class="form-label">Porcentaje n˚4</label>
                                    <input type="number" class="form-control" id="porcentajeCuatro" placeholder="Ingresar el porcentaje" name="porcentajeCuatro">
                                </div>
                            </div>
                                <button type="button" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-info">Actualizar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>

<!--habilidad 5-->
                            <div class="row">
                                <div class="col-6 my-3">
                                    <label for="habilidadCinco" class="form-label">Habilidad n˚5</label>
                                    <input type="text" class="form-control" id="habilidadCinco" placeholder="Ingrese la habilidad..." name="habilidadCinco">
                                </div>
                                <div class="col-6 my-3">
                                    <label for="porcentajeCinco" class="form-label">Porcentaje n˚5</label>
                                    <input type="number" class="form-control" id="porcentajeCinco" placeholder="Ingresar el porcentaje" name="porcentajeCinco">
                                </div>
                            </div>
                                <button type="button" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-info">Actualizar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>

<!--habilidad 6-->
                                <div class="row">
                                    <div class="col-6 my-3">
                                        <label for="habilidadSeis" class="form-label">Habilidad n˚6</label>
                                        <input type="text" class="form-control" id="habilidadSeis" placeholder="Ingrese la habilidad..." name="habilidadSeis">
                                    </div>
                                    <div class="col-6 my-3">
                                        <label for="porcentajeSeis" class="form-label">Porcentaje n˚6</label>
                                        <input type="number" class="form-control" id="porcentajeSeis" placeholder="Ingresar el porcentaje" name="porcentajeSeis">
                                    </div>
                                </div>
                                    <button type="button" class="btn btn-primary">Guardar</button>
                                    <button type="button" class="btn btn-info">Actualizar</button>
                                    <button type="button" class="btn btn-danger">Eliminar</button>                                 

<!--habilidad 7-->
                                <div class="row">
                                    <div class="col-6 my-3">
                                        <label for="habilidadSiete" class="form-label">Habilidad n˚7</label>
                                        <input type="text" class="form-control" id="habilidadSiete" placeholder="Ingrese la habilidad..." name="habilidadSiete">
                                    </div>
                                    <div class="col-6 my-3">
                                        <label for="porcentajeSiete" class="form-label">Porcentaje n˚7</label>
                                        <input type="number" class="form-control" id="porcentajeSiete" placeholder="Ingresar el porcentaje" name="porcentajeSiete">
                                    </div>
                                </div>
                                    <button type="button" class="btn btn-primary">Guardar</button>
                                    <button type="button" class="btn btn-info">Actualizar</button>
                                    <button type="button" class="btn btn-danger">Eliminar</button>

<!--habilidad 8-->
                                <div class="row">
                                    <div class="col-6 my-3">
                                        <label for="habilidadOcho" class="form-label">Habilidad n˚8</label>
                                        <input type="text" class="form-control" id="habilidadOcho" placeholder="Ingrese la habilidad..." name="habilidadOcho">
                                    </div>
                                    <div class="col-6 my-3">
                                        <label for="porcentajeOcho" class="form-label">Porcentaje n˚8</label>
                                        <input type="number" class="form-control" id="porcentajeOcho" placeholder="Ingresar el porcentaje" name="porcentajeOcho">
                                    </div>
                                </div>
                                    <button type="button" class="btn btn-primary">Guardar</button>
                                    <button type="button" class="btn btn-info">Actualizar</button>
                                    <button type="button" class="btn btn-danger">Eliminar</button>

<!--habilidad 9-->
                                <div class="row">
                                    <div class="col-6 my-3 pb-5">
                                        <label for="habilidadNueve" class="form-label">Habilidad n˚9</label>
                                        <input type="text" class="form-control" id="habilidadNueve" placeholder="Ingrese la habilidad..." name="habilidadNueve">
                                    </div>
                                    <div class="col-6 my-3 pb-5">
                                        <label for="porcentajeNueve" class="form-label">Porcentaje n˚9</label>
                                        <input type="number" class="form-control" id="porcentajeNueve" placeholder="Ingresar el porcentaje" name="porcentajeNueve">
                                    </div>
                                </div>
                                    <button type="button" class="btn btn-primary">Guardar</button>
                                    <button type="button" class="btn btn-info">Actualizar</button>
                                    <button type="button" class="btn btn-danger">Eliminar</button>

<!--habilidad 10-->
                                <div class="row">
                                    <div class="col-6 my-3 pb-5">
                                        <label for="habilidadDiez" class="form-label">Habilidad n˚10</label>
                                        <input type="text" class="form-control" id="habilidadDiez" placeholder="Ingrese la habilidad..." name="habilidad">
                                    </div>
                                    <div class="col-6 my-3 pb-5">
                                        <label for="porcentajeDiez" class="form-label">Porcentaje n˚10</label>
                                        <input type="number" class="form-control" id="porcentajeDiez" placeholder="Ingresar el porcentaje" name="porcentajeDiez">
                                    </div>
                                </div>
                                    <button type="button" class="btn btn-primary">Guardar</button>
                                    <button type="button" class="btn btn-info">Actualizar</button>
                                    <button type="button" class="btn btn-danger">Eliminar</button>
<!--habilidad 11-->
                                <div class="row">
                                    <div class="col-6 my-3 pb-5">
                                        <label for="habilidadOnce" class="form-label">Habilidad n˚11</label>
                                        <input type="text" class="form-control" id="habilidadOnce" placeholder="Ingrese la habilidad..." name="habilidad">
                                    </div>
                                    <div class="col-6 my-3 pb-5">
                                        <label for="porcentajeOnce" class="form-label">Porcentaje n˚11</label>
                                        <input type="number" class="form-control" id="porcentajeOnce" placeholder="Ingresar el porcentaje" name="porcentajeOnce">
                                    </div>
                                </div>
                                    <button type="button" class="btn btn-primary">Guardar</button>
                                    <button type="button" class="btn btn-info">Actualizar</button>
                                    <button type="button" class="btn btn-danger">Eliminar</button>   
                        </form>
<!-- fin formulario para editar habilidades -->