<!--Footer-->
<footer>
    <div class="container text-center">
        <div class="row">
            <div class="col">
<!--iconos de contacto de footer-->
                <ul class="list-group list-group-horizontal central">
                    <li class="list-group-item footer"><a href="./contacto.html" target="_blank"><i class="fas fa-envelope-open-text fa"></i></a></li>
                </ul>
            </div> 
        </div>
    </div>
<!-- copyright del footer -->
    <p>© Cintia Sana ♥ - 2022</p>
</footer>
<!-- fin de Footer-->
