.list-group-item a{
    color: #F5E8C7;
}
.list-group-item {
    color:#F5E8C7;
    background-color:transparent;
}
/*reaccion de usuario con candado, cursor*/
i.fa-solid.fa-user-lock.fa-2xl:hover {
    color: #7F5283;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.25); 
}
/*reaccion de agrandar los iconos*/
a.list-group-item.list-group-item-action:hover{
    background: transparent;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.25);
}
/*reaccion de los iconos, fondo*/
.list-group-item:hover {
    background-color: #FFF5EB;
}
