<h4>Editar Perfil.</h4>
<!--Inicio formulario para editar mi perfil-->  
                        <form>
                            <div class="my-3">
                                <label for="nombrePerfil" class="form-label">Nombre y Apellido:</label>
                                <input type="text" class="form-control" id="nombrePerfil" aria-describedby="emailHelp" placeholder="Ingresa tu nombre y apellido..." name="nombrePerfil">
                            </div>
                                <button type="button" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-info">Actualizar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>

                            <div class="my-3">
                                <label for="fotoPerfil" class="form-label">Foto de Perfil:</label>
                                <input type="url" class="form-control" id="fotoPerfil" placeholder="Ingresa la url de tu foto de perfil..." name="fotoPerfil">
                            </div>
                                <button type="button" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-info">Actualizar</button>
                                <button type="button" class="btn btn-danger">Eliminar</button>
                        </form>
<!--fin formulario para editar mi perfil-->
