<!--comienzo de seccion proyectos-->
<section class="proyectos mt-5">
    <div class="container-fluid text-center">
<!-- titulo de seccion proyectos  -->
        <h4 class="tituloSeccion">Proyectos</h4>
        <div class="row mt-5">
            <div class="col">
<!-- tarjeta de proyecto 1 (aprendiendo a programar) -->
                <div class="card tarjeta" style="width: 18rem;">
                    <img src="./assets/img/banner3.jpg" class="card-img-top" alt="Aprendiendo a Programar">
                    <div class="card-body proyecto">
<!-- titulo de proyecto 1 -->
                        <h5 class="card-title">Aprendiendo a Programar.</h5>
<!-- descripcion de proyecto 1 -->
                        <p class="card-text">Esta Página sirve de guia para dar los primeros pasos en la Programación.</p>
<!-- enlace a la pagina de proyecto 1 -->
                        <a href="https://cintiasana.github.io/inbox.html" target="_blank" class="btn btn-primary">Ir a Proyecto</a>
                    </div>
                </div>
            </div>
            <div class="col">
<!-- tarjeta de proyecto 2 (excel) -->
                <div class="card tarjeta" style="width: 18rem;">
                    <img src="./assets/img/Excel.png" class="card-img-top" alt="Excel">
                    <div class="card-body proyecto">
<!-- titulo de proyecto 2 -->
                        <h5 class="card-title">Excel.</h5>
<!-- descripcion de proyecto 2 -->
                        <p class="card-text">Esta Página contiene material para aprender Excel.</p>
<!-- enlace a la pagina de proyecto 2 -->
                        <a href="https://cintiasana.github.io/Excel/" target="_blank" class="btn btn-primary">Ir a Proyecto</a>
                    </div>
                </div>
            </div>
            <div class="col">
<!-- tarjeta de proyecto 3 (gocode) -->
                <div class="card tarjeta" style="width: 18rem;">
                    <img src="./assets/img/GoCode (white).png" class="card-img-top" alt="Excel">
                    <div class="card-body proyecto">
<!-- titulo de proyecto 3 -->
                        <h5 class="card-title">GoCode.</h5>
<!-- descripcion de proyecto 3 -->
                        <p class="card-text">Nos encargamos de la creación de sitios web para organizaciones sin fines de lucro..</p>
<!-- enlace a la pagina de proyecto 3 -->
                        <a href="https://cintiasana.github.io/inicio-gocode-v1.4/" target="_blank" class="btn btn-primary">Ir a Proyecto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- fin de seccion de proyectos -->
