<!--comienzo de seccion proyectos-->
<section class="proyectos mt-5">
    <div class="container-fluid text-center">
<!-- titulo de seccion proyectos  -->
        <h4 class="tituloSeccion">Proyectos</h4>
        <div class="row mt-5">
            <div *ngFor="let proyecto of proyectos" class="col">
<!-- tarjeta de proyecto 1 (aprendiendo a programar) -->
                <div class="card tarjeta" style="width: 18rem;">
                    <img [src]="proyecto.imgProyecto" class="card-img-top" alt="proyecto">
                    <div class="card-body proyecto">
<!-- titulo de proyecto 1 -->
                        <h5 class="card-title">{{proyecto.tituloProyecto}}</h5>
<!-- descripcion de proyecto 1 -->
                        <p class="card-text">{{proyecto.detalleProyecto}}</p>
<!-- enlace a la pagina de proyecto 1 -->
                        <a [href]="proyecto.urlProyecto" target="_blank" class="btn btn-primary">Ir a Proyecto</a>
                    </div>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</section>
<!-- fin de seccion de proyectos -->
