/*imagen del banner*/
.img-banner {
    height: 34rem;
    width: 100%;
    border-radius: 3%;
    opacity: 0.9;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.2));
    box-shadow: 4px 8px 15px 0 rgb(53, 51, 51);
    object-fit: cover;
}